.clear {
	clear: both;
	height: 1px;
}
.hide {
	display: none;
}
.nav ul {
	display: none;
}
.error, .errNote {
	color: #f00;
	font-weight: bold;
}

.pad5 td, .pad5 th {
	padding: 3px 5px;
}


.floatR {
	float: right;
}
.floatL {
	float: left;
}

.dealer-info {
    font-size: 0.8em;
    margin-bottom: 7px;
    margin-left: 20px;
}
.dealer-info span {
    font-weight: bold;
}

p {  text-align: justify }


/* -= Fixes =-

.block {
	margin-bottom: 20px;
}
.breadCrumbs li {
	margin-left: 10px;
}
body { font-size: 14px; }

*/

.block.main iframe {width: 100% !important;}

.feedback label {
    display: block;
    margin-top: 10px;
}

.feedback .input input, form .input textarea { width: 96%; }
.feedback  .submit { margin-top: 10px}
.feedback .main { padding-bottom: 14px;}

.recaptchatable #recaptcha_response_field { height: auto; display: inline-block; }

.feedback .star { color: #d00; font-weight: bold; font-family: Verdana; font-size: 12px;}
/*
.required {
	color: #d00;
	font-weight: bold;
	font-family: Verdana;
	font-size: 12px;
}
*/